html {
	font-size: 62.5%;		/* 10px */
	font-family: 'Armata', sans-serif;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
}

h1 {
	font-size: 14px;
	font-size: 1.4rem;
	padding: 10px 5px 10px 5px;
	background-color: #efd8c6;
	/* background-color: #f4ba8d; */
}

p {
	font-size: 12px;
	font-size: 1.2rem;
	padding: 5px;
}

img {
	max-width: 320px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.button {
	display: inline-block;
	width: 100%;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	outline: none;
	text-align: center;
	font-size: 1.3rem;
	padding: .5em 1.5em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
	text-decoration: none;
}

.container {
	width: 320px;
	margin: 0 auto;
	position: relative;
}

nav {
}

nav a {
	color: #339;
	text-decoration: none;
}
.navigation {
	/* collapsed */
	width: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

#main-navigation:target {
	width: 40%;
	position: absolute;
	overflow: visible;
}

#main-navigation:target + .page-wrap {
	width: 60%;
	transition: width 1.5s ease;
	-webkit-transition: width 1s ease;
}

.page-wrap {
	width: 100%;
	float: right;
}

header.main {
	position: relative;
	max-width: 100%;
	height: 112px;
	background: linear-gradient(45deg, #1e8ac9 0%, #f4f7ed 60%);
	background: -webkit-linear-gradient(45deg, #1e8ac9 0%, #f4f7ed 60%);
	border-bottom: #efd8c6 5px solid;
}

h1#logo {
	text-indent: -99999px;
	background-color: initial;
}

picture#info {
	position: absolute;
	top: 34px;
	left: 15px;
}

picture#offcanvas {
	position: absolute;
	top: 34px;
	right: 15px;
}

picture.main {
}

picture.main img {
	width: 100%;
}

picture.small-image {
	float: left;
	width: 33%;
	padding: 5px;
}

picture.small-image img {
	width: 100%;
	/*position: absolute;
	height: 0px;
	padding-bottom: 66%; */
}

div.picture-wrapper {
	position: relative;
	width: 150px;
}

h2.small-image {
	position: absolute;
	width: 100%;
	height: 0px;
	font-size: 0px;
	padding-bottom: 44%;
	background: url(../img/printplaat-980px.png) no-repeat;
	background-size: cover;
}

div.clear {
	clear: left;
}

section {
	padding: 5px 0 5px 0;
}

section.main {
	position: relative;
	padding-top: 0;
	z-index: 10;
}

section.hometeaser {
	position: absolute;
	top: 150px;
	left: 0;
	z-index: 100;
}

article {
	margin: 5px 0 0 0;
	padding: 0 0 5px 0;
	background-color: #f4f7ed;
	border-bottom: #efd8c6 2px solid;
}

article.hometeaser {
	margin: 0 15px;
	border-bottom: none;
}

article.hometeaser p {
}

@media only screen and (min-width: 37.5em) {
	.container {
		width: 600px;
	}
	
	img {
		max-width: 600px;
	}
	
	section.hometeaser {
		top: 300px;
	}
	
}