<!DOCTYPE html>
<html ng-app='kristalcms'>
<head>
	<meta charset="UTF-8">
	<title>Kristal Software CMS</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
	<div ng-controller='CMSMainCtrl'>
		<form>
        	<fieldset>
            	<legend>Selecting templates</legend>
          		<p>
             		<label>Select template</label>
             		<select id = "myTemplates">
             			<option  ng-repeat='template in templates' value = "{{template.nodename}}">{{template.nodename}}</option>
             		</select>
          		</p>
       		</fieldset>
    	</form>
		
		<div ng-repeat='link in cmslinks'>
		</div>
	</div>
</body>
</html>